<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agentic AI</title>
    <link rel="stylesheet" href="/static/style2.css">
</head>

<body>

    <div class="chat-container">
        <header>
            <h2><span id="statusDot" class="dot offline"></span>
                Agentic AI</h2>
        </header>

        <div id="chat-box">
            <div class="message bot-message">Hello how can I help you?</div>
        </div>

        <div class="input-area">
            <input type="text" id="user-input" placeholder="Type your message..." autocomplete="off">

            <button id="send-btn">
                <span>Send</span>
            </button>
        </div>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>